.deals__container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1700px;
}

.deals__row {
  display: flex;
  z-index: 1;
  margin-left: 15px;
  margin-right: 15px;
}

.deals__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -400px;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}

.deals__pages {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
