.dealProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}

.dealProduct > img {
  height: 50%;
  width: 50%;
  max-height: 50%;
  max-width: 50%;
  -o-object-fit: contain;
  object-fit: contain;
  margin-bottom: 15px;
}

.dealProduct__price {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  margin-bottom: 5px;
  margin-top: 5px;
}
.dealProduct__priceContainer span {
  line-height: 60%;
  color: rgb(182, 35, 35);
}
.dealProduct__wholePrice {
  font-size: 20px;
  font-weight: 600;
  margin-left: 2px;
}

.dealProduct__recurringPrice {
  font-size: 12px;
}

.dealProduct__rating {
  display: flex;
}

.dealProduct > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding: 3px;
}

.dealProduct__svgContainer {
  margin-right: 2px;
}

@media (min-width: 1550px) {
  .dealProduct__info {
    height: 100px;
  }
}

.dealProduct__notification {
  z-index: 9999;
  position: absolute;
}

.product__normalPrice {
  margin-left: 0.5%;
  text-decoration: line-through;
  font-size: 12px;
}
