.order {
  padding: 40px;
  margin: 20px 0;
  border: 1px solid lightgray;
  background-color: white;
}

.order > h2 {
  margin-bottom: 5px;
}

.order__total {
  font-weight: 500;
  text-align: right;
}

.order__items {
  margin-top: 40px;
}
